<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to 'Hustle', root_path, class: 'navbar-brand topnav' %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                    <li>
                        <%= link_to 'Jobs', jobs_path %>
                    </li>
                    <% if current_user.is_admin? %>
                        <li>
                            <%= link_to 'Overview', overview_path %>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to 'Profile', profile_path %>
                        </li>
                    <% end %>
                    <li>
                        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
                    </li>
                <% else %>
                    <li>
                        <!-- <a href="#contact" data-toggle="modal" data-target="#myModal">Log in</a> -->
                        <%= link_to 'Tanda.co', 'http://tanda.co/' %>
                    </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
