<!DOCTYPE html>
<html lang="en">
<head>
    <%= csrf_meta_tags %>

    <title>Manager - Hustle</title>

    <%= stylesheet_link_tag 'sb-admin' %>
    <%= stylesheet_link_tag 'morris' %>
    <%= javascript_include_tag 'bootstrap-js' %>
    <%= javascript_include_tag 'raphael.min.js' %>
    <%= javascript_include_tag 'morris.min.js' %>
    <%= javascript_include_tag 'morris-data.js' %>
    <style>
    	.tile{
             text-align: center;
        }
        .circle{
            border-radius: 50%;
            width:70%;
            height: 300px;
            object-fit: cover;
        }
    </style>
</head>
<body>
	<%= yield %>
	<script>
		$('#check-btn').click(function(){
			$(this).closest('.module').hide(500);
		});
	</script>
</body>
</html>
